/*header start*/
.header{width: 100%;height: 40px;background: #111;min-width: 1226px;}
.h_top{width: 1226px;height: 40px;margin:0 auto;}
.h_t_left{width: 600px;height: 40px;line-height: 40px;}
.h_t_right{width: 300px;height: 40px;}
.h_t_left li{float: left;}
.h_t_left li a,.h_t_r_login a{color:#B0B0B0;}
.h_t_left li a:hover,.h_t_r_login a:hover{color:#FFF;}
.h_t_line{color:#424242;margin: 0 0.5em;}
.h_t_r_login{width:145px;height: 40px;line-height:40px;}
.h_t_r_shopCart{width: 120px;height: 40px;background: #424242;line-height: 40px;text-align: center;color:#b0b0b0;position: relative;cursor: pointer;}
.h_t_r_shopCart:hover{background: #FFF;} 
.h_t_r_shopCart:hover .iconfont,.h_t_r_shopCart:hover .car{color: #F60;}
.h_m_r_s_hide{width:320px;height:100px;background:#fff;box-shadow: 0 2px 2px #111;position: absolute;top:40px;right: 0px;line-height: 100px;cursor: default;display: none;z-index: 10;}
/*header end*/
/*wap start*/
.warp{width:100%;height:100px;min-width:1226px;}
.w_nav{width:1226px;height:100px;line-height:100px;margin:0 auto;}
.w_n_logo,.w_n_logo a{width:55px;height:55px;}
.w_n_logo{margin-top:22px;}
.w_n_logo a{display:block;background:url(../img/logo.png) #f60 center;}
.w_n_center{width: 630px;height: 55px;margin-left: 200px;margin-top: 22px;}
.w_n_center li{float: left;line-height: 55px;color: #333;font-size: 16px;}
.w_n_center li a{padding:38px 8px;color:#333;}
.w_n_center li a:hover{color: #F60;}
.w_n_serach{width: 300px;height: 55px;background: yellow;margin-top:22px;}
.w_n_s_input{width: 245px;height: 55px;background: gray;position: relative;}
.w_n_s_input input{display: block;width: 245px;height: 55px;outline:none;border:1px solid #ddd;border-right: 0;text-indent: 10px;font-size: 12px;transition: .2s;}
.w_n_serach:hover .w_n_s_input input,.w_n_serach:hover .w_n_s_find{border-color: #bbb;}
.w_n_serach.focus .w_n_s_input input,.w_n_serach.focus .w_n_s_find{border-color: #f60;}
.w_n_s_hide{z-index:9;width: 246px;height:300px;background: #fff;border:1px solid #f60;border-top:0;position: absolute;top:55px;left: 0;display: none;}
.w_n_s_hide li{height: 30px;line-height: 30px;}
.w_n_s_hide li:hover{background:#e6e6e6;}
.w_n_s_hide li a{padding-left: 16px;display: block;color: #333;}
.w_n_s_hide li a span{float: right;padding-right: 16px;color: #bbb;}
.w_n_s_find{width: 55px;height: 55px;background: #fff;border:1px solid #ddd;text-align: center;line-height:53px;cursor: pointer;transition: .2s;}
.w_n_s_find .iconfont{color: #333;font-size: 30px;transition: .2s;}
.w_n_s_find:hover{border-color: #f60;background: #f60}
.w_n_s_find:hover .iconfont{color: #fff;}
/*wap end*/
/*wap_nav_center_hover start*/
.w_n_c_hover{width: 100%;height:230px;background: #fff;border-top:1px solid #e5e5e5;box-shadow: 0 1px 1px #999;display: none;min-width: 1226px;z-index: 9;position: relative;}
.w_n_c_h_main{width: 1226px;height: 230px;margin:0 auto;position: relative;}
.w_n_c_h_main ul{width: 1226px;height: 230px;position: absolute;left: 0;top:0;display: none;}
.w_n_c_h_main li{float: left;padding: 28px 21px;position: relative;}
.w_n_c_h_main li a{display: block;}
.w_n_c_h_main li a img{width: 160px;height: 110px;}
.w_n_c_h_main li .p_title{text-align: center;margin-top:16px;color: #333;}
.w_n_c_h_main li .p_price{text-align: center;margin-top:6px;color: #f60;}
.w_n_c_h_main li .p_border{width: 0px;height:100px;border-right: 1px solid #e5e5e5;position: absolute;top:30px;right: 0}
/*wap_nav_center_hover end*/
/*banner_pic start*/
.banner{width:1226px;height:460px;margin:0 auto;position:relative;}
.b_show{width:1226px;height:460px;position:relative;}
.b_s_picture{width:1226px;height:460px;}
.b_s_picture li{position:absolute;top: 0;left: 0;display: none;}
.b_s_btn div{width: 41px;height: 69px;background: red;position: absolute;top:50%;margin-top:-34px;cursor: pointer;background: url(../img/banner/btn.png) no-repeat;}
.b_s_btn .b_s_prev{left:235px;border-radius: 0 2px 2px 0;background-position: -84px 0px;}
.b_s_btn .b_s_next{right:0;border-radius: 2px 0 0 2px;background-position:-121px 0px;}
.b_s_btn .b_s_prev:hover{background-position: 0px 0px;}
.b_s_btn .b_s_next:hover{background-position: -42px 0px;}
.b_s_tabs{width: 150px;height: 10px;position: absolute;right: 30px;bottom: 30px;}
.b_s_tabs li{width:10px;height:10px;background:gray;background: rgba(0,0,0,0.4);border-radius: 50%;border:2px solid #999;float: left;margin:0 4px;cursor: pointer;}
.b_s_tabs li:hover,.b_s_tabs li.b_s_t_hover{background: #e5e5e5;border-color:#bbb;}
/*banner_pic end*/
/*banner_nav start*/
.b_nav{width: 235px;height: 460px;background: gray;background:rgba(0,0,0,0.6);position: absolute;top:0;left: 0;padding:20px 0;}
.b_nav>ul>li{height:42px;line-height: 42px;}
.b_nav>ul>li>a{height:42px;display: block;padding-left: 30px;font-size: 14px;color: #fff;}
.b_nav>ul>li>a>span{float: right;margin-right: 24px;font-size: 12px;color: #bbb;}
.b_nav>ul>li:hover{background: #f60;}
.b_nav ul li .b_n_hide{width: 512px;height: 459px;background: #fff;position: absolute;top:0;left: 235px;border-top:1px solid #bbb;box-shadow:0 2px 2px #999;display: none;}
.b_nav ul li ul{width: 250px;height: 447px;padding:6px 0px;float: left;margin-left: 6px;}
.b_nav ul li .b_n_hide  li{height: 74px;line-height: 74px;}
.b_nav ul li .b_n_hide .b_n_h_img{float: left;padding-left: 13px;}
.b_nav ul li .b_n_hide .b_n_h_img img{float: left;margin-top:17px;}
.b_nav ul li .b_n_hide .b_n_h_img span{float: left;padding:0 36px 0 12px;font-size: 14px;color: #333;transition: .3s;}
.b_nav ul li .b_n_hide .b_n_h_xg{color:#f60;float: right;width: 60px;height: 24px;border:1px solid #f60;text-align: center;line-height: 24px;margin-top: 25px;margin-right: 10px;transition: .3s;}
.b_nav ul li .b_n_hide .b_n_h_img:hover span{color: #f60;}
.b_nav ul li .b_n_hide .b_n_h_xg:hover{background: #f60;color: #fff;}
/*banner_nav end*/